<md-dialog>
	<md-dialog-content style="z-index:100;overflow:scroll;">
	<md-subheader style="background-color:#FFE082;margin:0;" class="md-sticky-no-effect">
		<table style = 'width:100%;margin-bottom:5px;'>
	   		<tr>
	   			<td>
	   				<span style='font-size:2em;padding-left:5px;line-height:100%;'>Almost Done With Testing Phase!</span>
	   			</td>
	   			<td>
	   				<md-button class="md-icon-button" ng-click='hide()' aria-label="CloseNav">
					    <ng-md-icon icon="clear" style="fill: #F44336;" size="25">
					    	 </ng-md-icon>	
					</md-button>
	   			</td>
	   		</tr>
	   	</table>
	</md-subheader>
	   <h1 style="padding:.2em; width:100%; font-family: 'Roboto Slab',serif;">Please note the following when using<br> our apps:</h1>
	   <table style = 'width:100%;margin-bottom:5px;'>
	   		<tr>
	   			<ul style="font-family: Roboto,sans-serif;">
	   				<li>
	   					Almost all of the campus shuttles are being tracked using GPS, <br>just a few of the core buses need to be configured.
	   				</li>
	   				<li>
	   					A bus may become "Out of Service" mid-route, this is normal.
	   				</li>	
	   			<ul>		
	   		</tr>
	   		<tr>
	   			
	   			<td>
	   				<ng-md-icon icon="report_problem" style="fill: #FFEB3B;padding:5px;" size="40">
		    	 </ng-md-icon>
		    	</td>
		    	<td>
		    	 	<p style="font-family: Roboto,sans-serif;">
		    	 		Please notify us if you spot bugs at kabas@ucsc.edu
		    	 	</p>
	   			</td>
	   		</tr>
	   	</table>
	</md-dialog-content>
</md-dialog>